* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.startingPage {
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.startingPage--window {
	width: 400px;
	height: 150px;
	background-color: white;
	padding: 20px;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.startingPage--title {
	grid-column: 1 / span 2;
	text-align: center;
}

.startingPage--btn {
	margin: 0 10px;
}

.inactive {
	visibility: hidden;
}

.container {
	width: 80%;
	background-color: beige;
	display: flex;
}

.result {
	padding: 20px;
	text-align: center;
	/* background-color: bisque; */
	width: 40%;
}

.result--current {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.result--current__heading {
	grid-column-start: span 2;
}

.result--current__player1 {
	grid-row: 2;
	grid-column: 1;
}

.result--current__player2 {
	grid-row: 2;
	grid-column: 2;
}

.result--latest {
	margin-top: 10px;
}

.buttons {
	width: 10%;
	/* background-color: coral; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buttons--button {
	width: 80%;
	height: 40px;
	border-radius: 5px;
	margin: 5px;
}

.board--container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.board--box {
	border: 1px solid black;
}

.board--box:first-child,
.board--box:nth-child(2),
.board--box:nth-child(3) {
	border-top: none;
}

.board--box:first-child,
.board--box:nth-child(4),
.board--box:nth-child(7) {
	border-left: none;
}

.board--box:nth-child(3),
.board--box:nth-child(6),
.board--box:nth-child(9) {
	border-right: none;
}

.board--box:nth-child(7),
.board--box:nth-child(8),
.board--box:nth-child(9) {
	border-bottom: none;
}

.circle {
	background-image: url("/img/circle.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.cross {
	background-image: url("/img/cross.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.circle--hover {
	background-image: url("/img/circle.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
}

.cross--hover {
	background-image: url("/img/cross.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
}
