* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.markChoosing {
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.markChoosing--window {
	width: 400px;
	height: 150px;
	background-color: white;
	padding: 20px;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.markChoosing--title {
	grid-column: 1 / span 2;
	text-align: center;
}

.markChoosing--btn {
	margin: 0 10px;
}

.board {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.board--box {
	border: 1px solid black;
}

.board--box:hover {
	background-color: lightgrey;
}

.board--box:first-child,
.board--box:nth-child(2),
.board--box:nth-child(3) {
	border-top: none;
}

.board--box:first-child,
.board--box:nth-child(4),
.board--box:nth-child(7) {
	border-left: none;
}

.board--box:nth-child(3),
.board--box:nth-child(6),
.board--box:nth-child(9) {
	border-right: none;
}

.board--box:nth-child(7),
.board--box:nth-child(8),
.board--box:nth-child(9) {
	border-bottom: none;
}

.circle {
	background-image: url("/img/circle.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.cross {
	background-image: url("/img/cross.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
