@import "./variables.scss";
@import "./starting-page.scss";
@import "./game-container.scss";
@import "./winner-annoucement.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	@include centerBox();
	color: $basicClr;
	font-family: "Akaya Telivigala", cursive;
	background-color: $basicClr;
}
