@import "./variables.scss";
@import "./starting-page.scss";
@import "./game-container.scss";
@import "./winner-annoucement.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $basicClr;
	font-family: "Akaya Telivigala", cursive;
	background-color: $basicClr;
	&.body-hidden {
		overflow: hidden;
	}
}

@media (orientation: portrait) and (min-width: 450px) {
	body {
		@include centerBox();
	}
}

@media (orientation: portrait) and (min-height: 830px) {
	body {
		height: 100vh;
		@include centerBox();
	}
}

@media (orientation: landscape) and (min-width: 750px) {
	body {
		height: 100vh;
		@include centerBox();
	}
}
