@import "./variables.scss";

.starting-page {
	position: absolute;
	background-color: $startBgrClr;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	@include centerBox();
	flex-direction: column;
	z-index: 10;
	overflow: hidden;

	&__rules {
		width: 100%;
		height: auto;
		background-color: $winningClr;
		padding: 20px;
		@include centerBox();
		flex-direction: column;
		border-radius: 5px;
		border: 3px solid $basicClr;

		&.hidden {
			visibility: hidden;
		}

		&--button {
			font-family: "Akaya Telivigala", cursive;
			border-radius: 2px;
			font-size: 30px;
			width: 100px;
			margin: 0 auto;
			border: 3px solid $basicClr;
			background-color: $backgroundClr;
			color: $basicClr;
			cursor: pointer;
			&:hover {
				background-color: $winningClr;
				color: $backgroundClr;
			}
		}
	}

	&__window {
		width: 100%;
		height: 200px;
		background-color: $winningClr;
		padding: 20px;
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		border-radius: 5px;
		border: 3px solid $basicClr;
		&__title {
			font-family: "Akaya Telivigala", cursive;
			grid-column: 1 / span 2;
			text-align: center;
			font-size: 40px;
			margin-bottom: 10px;
			color: $basicClr;
		}
	}
	&--btn {
		font-family: "Akaya Telivigala", cursive;
		border-radius: 2px;
		font-size: 40px;
		width: 50%;
		margin: 0 auto;
		border: 3px solid $basicClr;
		background-color: $backgroundClr;
		color: $basicClr;
		cursor: pointer;
		&:hover {
			background-color: $winningClr;
			color: $backgroundClr;
		}
	}

	&.inactive {
		visibility: hidden;
	}
}

@media (min-width: 351px) {
	.starting-page {
		&__rules {
			width: 350px;
		}
		&__window {
			width: 350px;
		}
	}
}

@media (orientation: landscape) {
	.starting-page {
		&__rules {
			width: 350px;
		}
		&__window {
			width: 350px;
		}
	}
}
