$startBgrClr: rgba(244, 209, 96, 0.7);
$basicClr: #8ac4d0;
$secondaryClr: #f4d160;
$backgroundClr: #fbeeac;
$winningClr: #28527a;

@mixin centerBox {
	display: flex;
	justify-content: center;
	align-items: center;
}
